consumer_key = "1bGh1KoUb9T6o15lCFQjQ"
consumer_secret = "TkXnXjlbNXcXBfJk9jgdGgczhuDQormwMglRvzw"

ACCESS_TOKEN_LIST = [{'oauth_token': '7941952-pdlOgt7U1N3opS7nM4CQLfmgKEtfDOz63fqr9DfMzU',
                      'oauth_token_secret': '5UGSGUfxEbRAjT6B3spXgVJP2KDts9iRfrxgBfGbc'},
]